body {
  background-image: url("../img/Fundo_gif.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

  cursor: cell;
}

h2 {
  color: rgb(231, 159, 215);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;

  cursor: text;

  text-shadow: 10px 1px 10px rgb(0, 0, 0);

  font-family: fantasy;
}

h3 {
  color: rgb(231, 159, 215);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  cursor: text;

  text-shadow: 10px 1px 10px rgb(0, 0, 0);

  font-family: fantasy;
}

p {
  color: rgb(179, 150, 205);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 200px;
  margin-right: 200px;

  cursor: text;

  text-shadow: 10px 6px 10px rgb(119, 119, 119);

  font-family: fantasy;
}

.resumos {
  color: rgb(179, 150, 205);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 200px;
  margin-right: 200px;

  text-shadow: 10px 6px 10px rgb(140, 140, 140);

  font-family: fantasy;
}

.descricao {
  color: rgb(0, 0, 0);

  text-shadow: 10px 1px 10px rgb(143, 103, 168);

  font-family: fantasy;
}

.info {
  color: rgb(96, 9, 9);

  text-shadow: 10px 1px 10px rgb(62, 62, 62);

  font-family: fantasy;
}

a {
  color: rgb(0, 0, 0);
}

.galaxia1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.galaxia2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.galaxia3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.link1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.link2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.link3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

body::-webkit-scrollbar {
  width: 0px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(169, 169, 169, 0.159);
}

.butao {
  color: rgb(181, 133, 202);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

img {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  -webkit-transition: -webkit-transform 3.5s ease;
  transition: all 3.5s ease;

  -webkit-transform: scale(1.07);
  transform: scale(1.07);

  cursor: crosshair;

  -webkit-filter: drop-shadow(18px 12px 7px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(15px 12px 5px rgba(0, 0, 0, 0.5));

  transition: all 0.5s;
  border: 6px solid transparent;
}

.butao {
  font-family: fantasy;
  color: gray;
  border-left: 480px;
  border-right: 480px;
  border-top: 480px;
  border-width: 0px;
  font: bold15px arial, sans-serif;
  background-attachment: fixed;

  border-radius: 10px 10px 10px;
}
