body {
  background-color: rgb(46, 45, 46);
}

h2 {
  color: rgb(119, 89, 124);
}

h3 {
  color: rgb(120, 104, 146);
}

.div1 {
  color: rgb(181, 130, 230);
}

.span1 {
  color: rgb(118, 118, 122);
}
